@use "../../styles/variables" as *;

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    padding: 10px 20px;
    height: 15vh;
    
}