@use "../../styles/variables" as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10px 20px;
    height: 20%;
}