@use "./styles/variables" as *;

*{
    font-family: $font-body;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85vh;
}

.spectrum-background {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}